/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26 Apr 2020, 3:57:43 PM
    Author     : IT
*/
.tPanel{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.row{
    height: 600px;
}
.col-sm-4{
    height: 600px;
}
.card{
    height: 600px;
}
.card-body{
    height: 600px;    
}
.card-body:hover .tPanel {
  opacity: 0.3;
}

.card-body:hover .middle {
  opacity: 1;
}
.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}